<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>प्रमाणपत्र</title>
    <style>
        /* Add CSS for the border */
        body {
            border: 1px solid #000;
            padding: 20px;
        }
    </style>
</head>
<body>
    <p>
        प्रमाणित किया जाता है कि श्री/कु0/श्रीमती {{ admission_form.first_name }} {{ admission_form.middle_name }} {{ admission_form.last_name }}<br>
        पुत्र/पुत्री/पत्नी श्री  {{ admission_form.father_name }} पता {{ admission_form.address }}<br> 
        इस विद्यालय के छात्र/छात्रा रहे हैं |<br>
        यह इस महाविद्यालय में कक्षा B A {{ admission_form.admission_batch}} के सत्र {{ admission_form.admission_date }} से 2023
        तक संस्थागत छात्र/छात्रा रहे हैं |<br>
        इन्होने सत्र 2023 में इस संस्था से कक्षा BA 3 Year की परीक्षा First<br>
        श्रेष्ठी में उत्तीरण/अनुत्तीरण किया | जहाँ तक मुझे ज्ञात है इनका चरित्र उत्तम है|<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;मैं जीवन में हर दृष्टि से इनकी सफलता की कामना करता है |
    </p>
    <p>
        ह0 कार्यालय लिपिक &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रधानाचार्य
    </p>
</body>
</html>
<!-- "Back to Student Details" link is kept outside the border -->
<a href="{% url 'student_list_details' %}">Back to Student Details</a>
