<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>College Management Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
<body>
    <header>
        Welcome {{ user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'logout' %}?next=/loginapp/logout/">Logout</a>
        
    </header>
    <div class="container">
        <div class="sidebar">
            <ul class="dashboard_list">
                <li><a href="/dashboard"><i class="fa fa-school" aria-hidden="true"></i><b>College Management</b></a></li>
                <li><a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
                <li><a href="{% url 'admission_form' %}"><i class="fa fa-wpforms" aria-hidden="true"></i> Admission Form</a></li>
                <li><a href="{% url 'student_list' %}"><i class="fa fa-user"></i> Student List</a></li>
                <li><a href="{% url 'first_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> First Year</a></li>
                <li><a href="{% url 'second_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Second Year</a></li>
                <li><a href="{% url 'third_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Third Year</a></li>
                <li><a href="{% url 'fee_detail' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Management</a></li>
                <li><a href="{% url 'student_list_details' %}"><i class="fa fa-certificate" aria-hidden="true"></i>Character Certificate</a></li>
                <li><a href="{% url 'student_list_details_transfer' %}"><i class="fa fa-certificate" aria-hidden="true"></i> Transfer Certificate</a></li>
                <li><a href="{% url 'fee_structure' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Structure</a></li>
                <li><a href="{% url 'send_messages' %}"><i class="fa fa-bell" aria-hidden="true"></i>Send Notification</a></li>

            </ul>
        </div>
        <div class="content">
            <h1>Fee Structure</h1>
            <table class="fee-structure">
              <thead>
                <tr>
                  <th>Semester</th>
                  <th>Registration Fee</th>
                  <th>Tuition Fee</th>
                  <th>Exam Fee</th>
                  <th>Sports Fee</th>
                  <th>Miscellaneous Fee</th>
                  <th>Semester Total Fee </th>
                  <th>Action</th>
                </tr>
              </thead>
            <tbody>
              {% for semester in semesters %}
                <tr>
                  <td>Semester {{ semester.semester_number }}</td>
                  <td>{{ semester.registration_fee }}</td>
                  <td>{{ semester.tuition_fee }}</td>
                  <td>{{ semester.exam_fee }}</td>
                  <td>{{ semester.sport_fee }}</td>
                  <td>{{ semester.miscellaneous_fee }}</td>
                  <td>{{ semester.semester_total }}</td>
                  <td><a href="{% url 'update_semester_fee' semester.semester_number %}" class="update_btn"><i class="fa fa-edit"></i>Update</a></td>
                </tr>
              {% endfor %}
            </tbody>
    </table>

        </div>
    </div>
    <footer>
      <p style="text-align: right;">&copy; 2023 A2K Info Tech</p>
  </footer>    
</body>
</html>
