<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
    <link rel="stylesheet" type="text/css" href="/static/student_details.css">
    <a href="{% url 'dashboardpage' %}">Dashboard</a>
    <a href="{% url 'logout' %}?next=/loginapp/logout/" style="float: right;">Logout</a>
</head>
<body>
    <div class="complete_form">
        <h1 class="chandrika_head">चंद्रिका प्रसाद महाविद्यालय</h1>
        <p class="address_college">ग्राम व पोस्ट : - रामपुर बरहन (खनगी), वि.ख - दुदही (कुशीनगर)</p>
        <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }} Photo" width="100">
        <div class="field-box">
            <p><b>Student's Name:</b> {{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</p>
            <p><b>Father's Name:</b> {{ student.father_name }}</p>
            <p><b>Mother's Name:</b> {{ student.mother_name }}</p>
            <p><b>Date of Birth:</b> {{ student.date_of_birth }}</p>
            <p><b>Aadhar Card:</b> {{ student.aadhar_number }}</p>
            <p><b>Caste:</b> {{ student.caste }}</p>
            <p><b>Admission Batch:</b> {{ student.admission_batch }}</p>
            <p><b>Date:</b> {{ student.admission_date }}</p>
            <p><b>Mobile Number:</b> {{ student.mobile_number }}</p>
            <p><b>10th Pass Out Year:</b> {{ student.pass_out_year_10th }} </p>
            <p><b>10th Roll Number:</b> {{ student.roll_number_10th}}</p>
            <p><b>10th Total Mark Obtained:</b> {{ student.marks_10th }} </p>
            <p><b>10th School Details:</b> {{ student.school_details_10th }}</p>
            <p><b>12th Pass Out Year:</b> {{ student.pass_out_year_12th }} </p>
            <p><b>12th Roll Number:</b> {{ student.roll_number_12th}}</p>
            <p><b>12th Total Mark Obtained:</b> {{ student.marks_12th }} </p>
            <p><b>12th School Details:</b> {{ student.school_details_12th }}</p>
            <p><b>Current Address:</b> {{ student.address }}</p>
            <p><b>Subjects:</b> {{ student.subjects }}</p>
        </div>
    </div>
    <button onclick="printPage()">Print</button><br>
    <a href="{% url 'student_list' %}">Back to Student List</a>
    <script>
        function printPage() {
            window.print();
        }
    </script>
</body>
</html>
