<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
    <header>
        Welcome {{ user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'logout' %}?next=/loginapp/logout/">Logout</a>
        
    </header>
    <div class="container-fluid">
        {% include 'sidebar.html' %}
        
        <div class="content">
            <h1 class="student_heading update_heading">Update Student Details</h1>
    
            <form method="post" enctype="multipart/form-data" class="admission_form">
                {% csrf_token %}
                {{ form.as_p }} <!-- Display the form fields as paragraphs -->
                <div class="col-sm-12 submit_admission">
                    <button type="submit" class="submit-button">Update</button>
                </div>
                <div class="clearfix"></div>
                <!-- <button type="submit">Update</button> -->
            </form>
        </div>
    </div>
    
    
    <!-- <a href="{% url 'student_list' %}">Back to Student List</a> Add a link to go back to the student list page -->
</body>
</html>
