<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>प्रमाणपत्र</title>
    <style>
        /* Add CSS for the border */
        body {
            border: 1px solid #000;
            padding: 20px;
        }
    </style>
</head>
<body>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रमाणित किया जाता है कि श्री/कु0/श्रीमती _________________________________________________
        <br>
        पुत्र/पुत्री/पत्नी श्री _____________________________________________________________________________
        <br>
        जिनका जन्म तिथि ________________________________ है | सन ________________से _______________तक 
        <br>
        इस महाविद्यालय में B.A. प्रथम/द्वितीय/तृतीय वर्ष के छात्र/छात्रा थे/थी |
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;इस सन ______________की __________________परीक्षा में ________________श्रेष्ठी में उत्तरीद/अउत्तरीद 
        <br>
        होने के पश्चात् महाविद्यालय छोड़ रहे हैं |
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;जहाँ तक विदित है, इनका आचरण _________________________ है |
    </p>
    <p>
        दिनांक: _____________________________
    </p>
    <p>
        ह0 कार्यालय लिपिक&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रधानाचार्य
    </p>
</body>
</html>
<!-- "Back to Student Details" link is kept outside the border -->
<a href="{% url 'student_list_details_transfer' %}">Back to TC Student Details</a>
