<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>प्रमाणपत्र</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/tces.css">
</head>
<body>
    <header>
        Welcome {{ user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'logout' %}?next=/loginapp/logout/">Logout</a>    
    </header>
    <div class="container-fluid">
        <div class="sidebar">
            <ul class="dashboard_list">
                <li><a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
                <li><a href="{% url 'admission_form' %}"><i class="fa fa-wpforms" aria-hidden="true"></i> Admission Form</a></li>
                <li><a href="{% url 'student_list' %}"><i class="fa fa-user"></i> Student List</a></li>
                <li><a href="{% url 'first_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> First Year</a></li>
                <li><a href="{% url 'second_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Second Year</a></li>
                <li><a href="{% url 'third_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Third Year</a></li>
                <li><a href="{% url 'fee_detail' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Management</a></li>
                <li><a href="{% url 'student_list_details' %}"><i class="fa fa-certificate" aria-hidden="true"></i>Character Certificate</a></li>
                <li><a href="{% url 'student_list_details_transfer' %}"><i class="fa fa-certificate" aria-hidden="true"></i> Transfer Certificate</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="trans_cer">
                <p>
                    कॉलेज कोड: 0574
                    <p>दीनदयाल उपाध्याय गोरखपुर विश्वविद्यालय, गोरखपुर से संबद्ध</p>
                    <h1>चंद्रिका प्रसाद महाविद्यालय </h1> 
                    <p>ग्राम व पोस्ट : - रामपुर बरहन (खनगी), वि.ख - दुदही (कुशीनगर) </p>
                    <h3>स्थानांतरण प्रमाण पत्र</h3>
                    <p>क्रमांक.............</p>
                    <p>छात्र पंजीकरण संख्या: {{ admission_form.registration_number }}</p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रमाणित किया जाता है कि श्री/कु0/श्रीमती 
                    {{ admission_form.first_name }} {{ admission_form.middle_name }} {{ admission_form.last_name }}
                    पुत्र/पुत्री/पत्नी श्री {{ admission_form.father_name }}
                    जिनका जन्म तिथि {{ admission_form.date_of_birth }}
                    है | सन <input type="text" name="start_year" value=""> से  <input type="text" name="end_year" value=""> तक 
                    <br>
                    इस महाविद्यालय में B.A. प्रथम/द्वितीय/तृतीय वर्ष के छात्र/छात्रा थे/थी |
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;इस सन <input type="text" name="exam_year" value=""> की <input type="text" name="exam_type" value=""> परीक्षा में <input type="text" name="exam_grade" value=""> श्रेष्ठी में उत्तरीद/अउत्तरीद 
                    होने के पश्चात् महाविद्यालय छोड़ रहे हैं |
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;जहाँ तक विदित है, इनका आचरण 
                    <input type="text" name="behavior" value="">
                    है |
                </p>
                
            <p>
                दिनांक: <input type="text" name="today_date" value="">
            </p>
            <p class="lipik_class">
                ह0 कार्यालय लिपिक
            </p>
            <p class="principle_class">प्रधानाचार्य</p>
            <p style="text-align: right;">
                <img src="/media/admission_photos/principle_signature.png" alt="प्रधानाचार्य">
            </p>
            </p>
          </div>
          <button onclick="printCertificate()" class="print_btn">Print Certificate</button><br>
        </div>
        </div>
        
   
 
  <!-- <br>
    <a href="{% url 'student_list_details_transfer' %}">Back to TC Student Details</a> -->
  <script>
        function printCertificate() {
            window.print(); // This will trigger the print dialog
        }
  </script>
</body>

</html>


