<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admission Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>

<body>
    <header>
        Welcome {{ user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'logout' %}?next=/loginapp/logout/">Logout</a>
        
    </header>
    <div class="container-fluid">
        <div class="sidebar">
            <ul class="dashboard_list">
                <li><a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
                <li><a href="{% url 'admission_form' %}"><i class="fa fa-wpforms" aria-hidden="true"></i> Admission Form</a></li>
                <li><a href="{% url 'student_list' %}"><i class="fa fa-user"></i> Student List</a></li>
                <li><a href="{% url 'first_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> First Year</a></li>
                <li><a href="{% url 'second_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Second Year</a></li>
                <li><a href="{% url 'third_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Third Year</a></li>
                <li><a href="{% url 'fee_detail' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Management</a></li>
                <li><a href="{% url 'student_list_details' %}"><i class="fa fa-certificate" aria-hidden="true"></i>Character Certificate</a></li>
                <li><a href="{% url 'student_list_details_transfer' %}"><i class="fa fa-certificate" aria-hidden="true"></i> Transfer Certificate</a></li>
                <li><a href="{% url 'fee_structure' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Structure</a></li>
                <li><a href="{% url 'send_messages' %}"><i class="fa fa-bell" aria-hidden="true"></i>Send Notification</a></li>
            </ul>
        </div>

        <div class="content">
            <h2 class="student_heading">Admission Form</h2>

            <form method="POST" enctype="multipart/form-data" class="admission_form">
                {% csrf_token %}
                <div class="form-group-first-name col-sm-6">
                    <label for="first_name">First Name:</label>
                    {{ form.first_name }}
                </div>

                <div class="form-group-middle-name col-sm-6">
                    <label for="middle_name">Middle Name:</label>
                    {{ form.middle_name }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group-last-name col-sm-6">
                    <label for="last_name">Last Name:</label>
                    {{ form.last_name }}
                </div>

                <div class="form-group-father-name col-sm-6">
                    <label for="father_name">Father's Name:</label>
                    {{ form.father_name }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group-mother-name col-sm-6">
                    <label for="mother_name">Mother's Name:</label>
                    {{ form.mother_name }}
                </div>

                <div class="form-group-date-of-birth col-sm-6">
                    <label for="date_of_birth">Date of Birth:</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="clearfix"></div>
                
                <div class="form-group-aadhar-number col-sm-6">
                    <label for="aadhar_number">Aadhar Number:</label>
                    {{ form.aadhar_number }}
                </div>

                <div class="form-group-mobile-number col-sm-6">
                    <label for="mobile_number">Mobile Number:</label>
                    {{ form.mobile_number }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group-caste col-sm-6">
                    <label for="caste">Caste:</label>
                    {{ form.caste }}
                </div>

                
                <div class="form-group-admission-batch col-sm-6">
                    <label for="admission_batch">Admission Batch:</label>
                    {{ form.admission_batch }}
                </div>
                <div class="clearfix"></div>
            
                <div class="form-group col-sm-6">
                    <label for="photo">Photo:</label>
                    {{ form.photo }}
                </div>

                <div class="form-group col-sm-6">
                    <label for="address">Current Address:</label>
                    {{ form.address }}
                </div>

                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="dist">District:</label>
                    {{ form.dist }}
                </div>

                <div class="form-group col-sm-6">
                    <label for="pin_code">Pin code:</label>
                    {{ form.pin_code }}
                </div>

                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="state">State:</label>
                    {{ form.state }}
                </div>

                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="pass_out_year_10th">10th Pass Out Year:</label>
                    {{ form.pass_out_year_10th }}
                </div>

                <div class="form-group-10th-roll-number col-sm-6">
                    <label for="roll_number_10th">10th Class Roll Number:</label>
                    {{ form.roll_number_10th }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="marks_10th">10th Class Marks Obtained:</label>
                    {{ form.marks_10th }}
                </div>

                
                <div class="form-group col-sm-6">
                    <label for="school_details_10th">10th Class School Details:</label>
                    {{ form.school_details_10th }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="pass_out_year_12th">12th Pass Out Year:</label>
                    {{ form.pass_out_year_12th }}
                </div>

                <div class="form-group-12th-roll-number col-sm-6">
                    <label for="roll_number_12th">12th Class Roll Number:</label>
                    {{ form.roll_number_12th }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="marks_12th">12th Class Marks Obtained:</label>
                    {{ form.marks_12th }}
                </div>

                <div class="form-group col-sm-6">
                    <label for="school_details_12th">12th Class School Details:</label>
                    {{ form.school_details_12th }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group-admission-date col-sm-6">
                    <label for="admission_date">Admission Date:</label>
                    {{ form.admission_date }}
                </div>  

                <div class="form-group col-sm-6">
                    <label for="subjects">Subjects:</label>
                    {{ form.subjects }}
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="semester">Semester:</label>
                    {{ form.current_semester }}
                </div>
                <div class="form-group col-sm-6">
                    <label for="email">Email:</label>
                    {{ form.email }}
                </div>

                <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label for="gender">Gender:</label>
                    {{ form.gender }}
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12 submit_admission">
                    <button type="submit" class="submit-button">Submit</button>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("id_date_of_birth").placeholder = "MM/DD/YYYY";
    </script>
</body>

</html>
