<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>College Management Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
    <header>
        Welcome {{ user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'logout' %}?next=/loginapp/logout/">Logout</a>
        
    </header>
    <div class="container">
        <div class="sidebar">
            <ul class="dashboard_list">
                <li><a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
                <li><a href="{% url 'admission_form' %}"><i class="fa fa-wpforms" aria-hidden="true"></i> Admission Form</a></li>
                <li><a href="{% url 'student_list' %}"><i class="fa fa-user"></i> Student List</a></li>
                <li><a href="{% url 'first_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> First Year</a></li>
                <li><a href="{% url 'second_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Second Year</a></li>
                <li><a href="{% url 'third_year' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Third Year</a></li>
                <li><a href="{% url 'fee_detail' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Management</a></li>
                <li><a href="{% url 'student_list_details' %}"><i class="fa fa-certificate" aria-hidden="true"></i>Character Certificate</a></li>
                <li><a href="{% url 'student_list_details_transfer' %}"><i class="fa fa-certificate" aria-hidden="true"></i> Transfer Certificate</a></li>
                <li><a href="{% url 'fee_structure' %}"><i class="fa fa-money" aria-hidden="true"></i> Fee Structure</a></li>
                <li><a href="{% url 'send_messages' %}"><i class="fa fa-bell" aria-hidden="true"></i>Send Notification</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>चन्द्रिका प्रसाद महाविद्यालय</h1>
            <p class="address_college">
                ग्राम व पोस्ट : - रामपुर बरहन (खानगी), वि.ख - दुदही (कुशीनगर)
            </p>
            <div class="col-sm-6">
            <div class="student-count-box"> 
                Total Students: <span id="totalStudentsCount">X</span>
            </div>
            </div>
            <div class="col-sm-6">
            <div id="user-count-box" class="user-count-box">
                Total Users: <span id="totalUsersCount">X</span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="student-count-box"> 
                BA 1st Year Students: <span id="firstYearCount">X</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="student-count-box"> 
                BA 2nd Year Students: <span id="secondYearCount">X</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="student-count-box"> 
                BA 3rd Year Students: <span id="thirdYearCount">X</span>
            </div>
        </div>
        
            <!-- Your content goes here -->

                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <div>
                            <canvas id="classChart" style="display: block;box-sizing: border-box;height: 300px;width: 400px;"></canvas>
                        </div>
                        <script>
                            // Function to update the student counts
                            function updateStudentCounts() {
                                // Fetch student data from the API endpoint
                                fetch('/admission/student-data-api/')
                                    .then(response => response.json())
                                    .then(data => {
                                        // Process the data and update your chart
                                        const classData = {}; // Object to store class data
            
                                        const backgroundColors = [
                                            '#00c0ef',
                                            '#00a65a',
                                            '#f39c12',
                                            '#dd4b39',
                                            'Blue',
                                            'Pink'
                                            // Add more colors if needed
                                        ];
            
                                        const firstYearData = data.filter(student => student.admission_batch === '1');
                                        const secondYearData = data.filter(student => student.admission_batch === '2');
                                        const thirdYearData = data.filter(student => student.admission_batch === '3');
            
                                        const firstYearCountElement = document.getElementById('firstYearCount');
                                        const secondYearCountElement = document.getElementById('secondYearCount');
                                        const thirdYearCountElement = document.getElementById('thirdYearCount');
            
                                        const firstYearCount = firstYearData.length;
                                        const secondYearCount = secondYearData.length;
                                        const thirdYearCount = thirdYearData.length;
            
                                        const increment = Math.ceil(firstYearCount / 100);
                                        const incrementSecondYear = Math.ceil(secondYearCount / 100);
                                        const incrementThirdYear = Math.ceil(thirdYearCount / 100);
            
                                        let currentFirstYearCount = 0;
                                        let currentSecondYearCount = 0;
                                        let currentThirdYearCount = 0;
            
                                        const updateCount = () => {
                                            currentFirstYearCount += increment;
                                            currentSecondYearCount += increment;
                                            currentThirdYearCount += increment;
            
                                            if (currentFirstYearCount >= firstYearCount) {
                                                currentFirstYearCount = firstYearCount;
                                                clearInterval(countInterval);
                                            }
                                            if (currentSecondYearCount >= secondYearCount) {
                                                currentSecondYearCount = secondYearCount;
                                            }
                                            if (currentThirdYearCount >= thirdYearCount) {
                                                currentThirdYearCount = thirdYearCount;
                                            }
            
                                            firstYearCountElement.textContent = currentFirstYearCount;
                                            secondYearCountElement.textContent = currentSecondYearCount;
                                            thirdYearCountElement.textContent = currentThirdYearCount;
                                        };
                                        const countInterval = setInterval(updateCount, 50);
                                        
                                        firstYearCountElement.textContent = firstYearCount;
                                        secondYearCountElement.textContent = secondYearCount;
                                        thirdYearCountElement.textContent = thirdYearCount;
            
                                        // Process the data and populate classData object
                                        data.forEach((student, index) => {
                                            const className = student.admission_batch;
                                            if (!classData[className]) {
                                                classData[className] = 1;
                                            } else {
                                                classData[className]++;
                                            }
                                            const colorIndex = index % backgroundColors.length;
                                            student.backgroundColor = backgroundColors[colorIndex];
                                        });
            
                                        // Create the class chart
                                        const classChartCanvas = document.getElementById('classChart').getContext('2d');
                                        new Chart(classChartCanvas, {
                                            type: 'bar',
                                            data: {
                                                labels: Object.keys(classData), // Class names
                                                datasets: [{
                                                    label: 'Number of Students',
                                                    data: Object.values(classData), // Number of students per class
                                                    // backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar color
                                                    backgroundColor: backgroundColors,
                                                    // borderColor: 'rgba(75, 192, 192, 1)', // Border color
                                                    borderColor: backgroundColors,
                                                    borderWidth: 1,
                                                }],
                                            },
                                            options: {
                                                scales: {
                                                    y: {
                                                        beginAtZero: true,
                                                    },
                                                },
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                aspectRatio: 0.2,
                                            },
                                        });
            
                                        const totalStudents = Object.values(classData).reduce((total, count) => total + count, 0);
                                        const countElement = document.getElementById('totalStudentsCount');
            
                                        let currentCount = 0;
                                        const totalStudentsIncrement = Math.ceil(totalStudents / 100); // Adjust the speed of animation
            
                                        const updateTotalStudentsCount = () => {
                                            currentCount += totalStudentsIncrement;
                                            if (currentCount >= totalStudents) {
                                                currentCount = totalStudents;
                                                clearInterval(totalStudentsCountInterval);
                                            }
                                            countElement.textContent = currentCount;
                                        };
            
                                        const totalStudentsCountInterval = setInterval(updateTotalStudentsCount, 50);
                                    });
                            }
            
                            // Call the function to update student counts when the page loads
                            updateStudentCounts();
                        </script>
                        <script>
                            // Fetch user data from the API endpoint
                            fetch('/dashboard/api/user-count/')  // Replace with the actual API endpoint for user count
                                .then(response => response.json())
                                .then(data => {
                                    // Update the "Total Users" count
                                    const totalUsersCountElement = document.getElementById('totalUsersCount');
                                    const totalUsers = data.total_users;  // Assuming the API response contains the user count
                                    totalUsersCountElement.textContent = totalUsers;
                                })
                                .catch(error => {
                                    console.error('Error fetching user count:', error);
                                });
                        </script>
                    </div>
                </div>
                <footer>
                    <p style="text-align: right;">&copy; 2023 A2K Info Tech</p>
                </footer>
            </body>
            </html>
