.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.chandrika_head{
    text-align: center;
}
.complete_form {
    border: 2px solid #121111;
    padding: 20px;
    margin: 20px;
    width: 80%;
    margin: 0 auto;
}
.address_college {
    text-align: center;
    font-size: smaller;
}
a.back_to_student {
    position: relative;
    float: right;
    right: 16%;
    background-color: #008080;
    color: #fff;
    border-radius: 24px;
    letter-spacing: 0.5px;
    padding: 10px 20px;
}