form.admission_form {
    max-width: 855px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #008080;
    background-color: #d0e7e8;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #f4f4f4;
    padding: 8px !important;
    text-align: left !important;
}
 
label {
    display: block;
    font-weight: bold;
}

/* Style for input fields */
input[type="text"],
input[type="date"],
input[type="file"],
input[type="number"],
textarea,
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-group textarea {
    height: 50px;
}
/* Style for the submit button */
.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Style for the logout link */
a[href*="logout"] {
    float: right;
}

/* Style for the name fields to display inline */
.form-group.name-group {
    display: flex;
    justify-content: space-between;
}

.form-group.name-group input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

/* Clearfix for form groups with floating elements */
.form-group::after {
    content: "";
    display: table;
    clear: both;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    text-align: center;
}

.form-group-first-name, .form-group-middle-name, .form-group-last-name, .form-group-father-name, .form-group-mother-name, .form-group-date-of-birth, .form-group-admission-batch, .form-group-admission-date, .form-group-caste, .form-group-12th-roll-number, .form-group-10th-roll-number, .form-group-aadhar-number, .form-group-mobile-number
{
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 14px;
}

h2.admission_form {
    margin-bottom: 20px;
}

.submit_admission {
    text-align: center;
}

.sidebar {
    width: 20%; /* Adjust the width as needed */
    background-color: #333; /* Sidebar background color */
    color: #fff;
    padding: 20px;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Stick to the left side */
    height: 100%; /* Make it full height */
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff; /* Sidebar link color */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #008080;
    color: #fff;
    padding: 20px 10px;
    text-align: right;
}
header p {
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}
canvas#classChart {
    /* width: 850px !important; */
    height: 350px !important;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 15%; /* Adjust the width as needed */
    background-color: #222d32; /* Sidebar background color */
    color: #fff;
    padding: 20px;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Stick to the left side */
    height: 100%; /* Make it full height */
}

.content {
    width: 80%; /* Adjust the width as needed */
    padding: 20px;
    position: relative;
    left: 200px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul.dashboard_list li {
    padding: 14px 0px;
    border-bottom: 1px solid #333;
}
ul li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff; /* Sidebar link color */
    font-size: 14px;
}

.address_college {
    text-align: center;
}

ul.dashboard_list li a i {
    font-size: 15px;
    padding-right: 20px;
}
.apply_filter {
    background-color: #008080;
    padding: 7px 10px;
    color: #fff;
    border: 1px solid #008080;
    border-radius: 25px;
    position: relative;
    top: 30px;
}
table.student_list_tab {
    margin-left: 50px;
}
table.student_list_tab tr:nth-child(even) {
    background-color: #f9f9f9;
}
table.student_list_tab tr:hover {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.075);
}
table.student_list_tab th, table.student_list_tab td {
    font-size: 12px;
    text-transform: capitalize;
}
a.details_btn {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
    color: #fff;
}
a.update_btn {
    background-color: #00a65a;
    border-color: #008d4c;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
    color: #fff;
}
.student_heading{
    border-bottom: 2px solid #008080;
    width: 20%;
    text-align: center;
    margin: 30px auto;
    padding-bottom: 2px;
    font-size: 26px;
}
.student_heading.update_heading {
    width: 40%;
}

.pagination {
    text-align: right;
    margin-right: 70px !important;
    display: block !important;

}
span.current-page {
    color: #008080;
    font-weight: bold;
}
form.admission_filter {
    margin-left: 38px;
    margin: 0px 0px 18px 38px;
    display: inline-block;
    width: 100%;
}
a.delete_btn {
    padding: 3px;
    font-size: 12px;
}

a:hover{
    color: #ffffff !important;
}
.trans_cer input {
    margin: 10px 0px;
    width: 200px;
    height: 30px;
}

.print_btn {
    background-color: #008080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
    margin-right: 100px;
    border-radius: 24px;
    letter-spacing: 0.5px;
}
.chandrika_head{
        text-align: center;
    }
    .complete_form {
        border: 2px solid #121111;
        padding: 20px;
        margin: 20px;
        width: 80%;
        margin: 0 auto;
    }
    .address_college {
        text-align: center;
        font-size: smaller;
    }
    a.back_to_student {
        position: relative;
        float: right;
        right: 16%;
        background-color: #008080;
        color: #fff;
        border-radius: 24px;
        letter-spacing: 0.5px;
        padding: 10px 20px;
    }
    .confirmation-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ceefef;
        border: 1px solid #171718;
        padding: 35px;
        z-index: 1000;
        text-align: center;
        border-radius: 5px
    }
    /* Style for the fee structure table */
    table.fee-structure {
        margin-left: 60px;
        height: 60px;
    }

    table.fee-structure tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table.fee-structure tr:hover {
        box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.075);
    }

    table.fee-structure th,
    table.fee-structure td {
        font-size: 12px;
        text-transform: capitalize;
    }
    .student-count-box, #user-count-box {
        margin: 30px 0px;
        padding: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 0.5px;
        font-size: 18px;
        border-radius: 10px;
    }
    div#user-count-box {
        background-color: #3c8dbc;
    }
    .student-count-box {
        background-color: #d9534f;
    }
    .submit_admission {
        margin: 20px 0px;
    }
    .college_logo {
        float: left;
    }
    .message_text {
        color: green;
        margin-top: 20px;
        text-align: center;
    }
    @media print {
        .sidebar, button.print_btn, a.back_to_student, header, title{
           display:none !important;
        }
        .content {
            width: 100%;
            left: 0px;
        }
        .complete_form {
            width: 100%;
        }
        .student-count-box {
            background-color: #4caf50; /* Green Color */
            color: #0c0a0a; /* White Text */
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }
        .trans_cer {
            width: 100% !important;
        }
        .static-box {
            margin-left: 0px !important;
        }
        }